<H1>Edit Your Profile</H1>
<div class="row">
  <div class="col-xs-12">
  <%= form_for @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %><br>
    <%= f.label :bio %>
    <%= f.text_area :bio %><br>
    <%= f.label :location %>
    <%= f.text_field :location %><br>
    <%= f.label :email %>
    <%= f.email_field :email %><br>
    <%= f.label :photo %>
    <%= f.file_field :photo, class: "form-control" %><br>
    <%= f.hidden_field :photo_cache %>
  </div>
  <div class="col-xs-6">
  <h3>Add Your Skills!</h3>
  <p>Tell us about your skills! Pick a skill category from the dropdown menu and then write in your specific skills and how proficient you are at them!</p>
  <%= form_for @skills_users do |f| %>
  <%= f.collection_select :skill, Skill.all, :id, :name %><br>
  <%= f.text_field :skill_description %><br>
  <%= f.submit "Update Your Skills" %>
  <% end %> 
  </div>
  <div class="col-xs-6">
  <h3>Add Your Topics!</h3>
  <%= f.collection_check_boxes :topic_ids, Topic.all, :id, :name %>
  </div>
  <div class="text-center">
  <%= f.submit %>
  </div>
  
<% end %>
  
</div>
 