
<div>
  <% if current_user && current_user.id == @user.id %>
    <div class="row cta-primary text-white">
      <div class="col-xs-6">
        <h1 class="text-white">Suggested Events</h1>
        <% @suggested_events.each do |event| %>
          <div class="suggested-event-<%= event.id %>">
            <% if !@user.events.include?(event) %>
              <h4 class="text-white"><%= event.name %></h4>
              <%= button_to "Join This Event!!", event_path(event.id), method: :patch, remote: true, id: "suggested-events" %>
            <% end %>
          </div>
          <div class="join-alert-<%= event.id %>"></div>
          <p><%= event.description %></p>
          <p><%= event.formatted_start %> - <%= event.formatted_end %></p>
          <p>This event was suggested based on these skills: 
          <% @user.matching_skills(event).each_with_index do |skill, i| %>
            <% if i > 0 %>
              - <%= skill %>
            <% else %>
                <%= skill %>
            <% end %>
          <% end %>
        <% end %>  
        <strong>Some more events you can sign up for.</strong>
          <% @events.each_with_index do |event, i| %>
            <% if !@user.events.include?(event) %>  
              <div class="suggested-event-<%= event.id %>">   
                <%= button_to "Join This Event!!", event_path(event.id), method: :patch, remote: true, class: "suggested-events" %>
                <div class="join-alert-<%= event.id %>"></div>
                <p><%= event.description %></p>
                <p><%= event.formatted_start %> - <%= event.formatted_end %></p>
                <% if i > 2 %>
                  <% break %>
                <% end %>
              </div> 
            <% end %>
          <% end %>              
      </div><!-- /col -->
      <div class="col-xs-6">
        <h1 class="text-white">Suggested Projects</h1>
        <% @suggested_projects.each do |project| %>
          <h4 class="text-white"><%= link_to project.name, project_path(project.id) %></h4>
          <p>This project was suggested based on your interest in: <%= project.topic.name %></p>
        <% end %>
      </div><!-- /col -->
    </div><!-- /row -->  
  <% end %>
</div>