<h1><%= @user.name %>'s Profile</h1>
  <% if current_user && current_user.id == @user.id %>
    <%= button_to "Edit Your Profile", edit_user_path(@user.id), method: "get" %>
  <% end %>

<p>Currently contributing to <%= @user.events.count %> events.</p>
<div class="row">
  <div class="col-xs-6">
    <h4><%= @user.name %> Is Skilled In...</h4>
    <% if @user.skills %>
    <ul>
      <% @user.skills.each do |skill| %>
        <li><%= skill.name %></li>
        <% end %>
    </ul>
    <% end %>
  </div>
  <div class="col-xs-6">
    <h4><%= @user.name %> Cares About...</h4>
    <% if @user.topics %>
    <ul>
      <% @user.topics.each do |topic| %>
        <li><%= topic.name %></li>
        <% end %>
    </ul>
    <% end %>
  </div>

   <% if current_user && current_user.id == @user.id %>
   <div class="col-xs-12">
  <h4>Your Suggested Volunteer Events!</h4>
    <% @suggested_events.each do |event| %>
    <p><%= event.name %></p>
    <p><%= event.description %></p>
    <p><%= event.start_date %> -- <%= event.end_date %></p>
    <p>This event was suggested based on these skills: 
    <% @user.matching_skills(event).each do |skill| %>
    <%= skill %>
    <% end %>
    </p>
  <% end %>
  </div>
  <% end %>

</div>
