<h1><%= @user.name %>'s Profile</h1>
<h4><%= @user.name %> Is Skilled In...</h4>
<% if @user.skills %>
<ul>
  <% @user.skills.each do |skill| %>
    <li><%= skill.name %></li>
    <% end %>
</ul>

<% end %>
<h4><%= @user.name %> Cares About...</h4>
<% if @user.topics %>
<ul>
  <% @user.topics.each do |topic| %>
    <li><%= topic.name %></li>
    <% end %>
</ul>

<% end %>
  
