<h1><%= @user.name %>'s Profile</h1>
<h5><%= @user.name %> has volunteered <%= @user.users_hours.to_i %> hours</h5>
  <% if current_user && current_user.id == @user.id && @user.projects %>
    <% @user.projects.each do |project| %>
      <p>You are a coordinator for the project <%= project.name %></p>
    <%= link_to "Edit Your Project", project_path(project.id) %>
    <% end %>
  <% end %>
  <% if current_user && current_user.id == @user.id %>
    <%= button_to "Edit Your Profile", edit_user_path(@user.id), method: "get" %>
  <% end %>

<p>Currently contributing to <%= @user.events.count %> events.</p>
<div class="selected-events">
  <div class="current-events">
  <ul>
  <% @user.events.each do |event| %>
  <li><%= event.name %><%= button_to 'Leave this event', "/events/#{event.id}/leave", method: :patch, remote: true, id: "leave-event-#{event.id}" %></li>
  <% end %>
  </ul>
</div>
</div> 

<div class="row">
  <div class="col-xs-6">
    <h3><%= @user.name %> Is Skilled In...</h3>
    <% if @user.skills %>
    <ul>
      <% @user.skills.each do |skill| %>
        <li><%= skill.name %></li>
        <% end %>
    </ul>
    <% end %>
  </div>
  <div class="col-xs-6">
    <h3><%= @user.name %> Cares About...</h3>
    <% if @user.topics %>
    <ul>
      <% @user.topics.each do |topic| %>
        <li><%= topic.name %></li>
        <% end %>
    </ul>
    <% end %>
  </div>
</div><!-- ROW -->

<div class="row">
   <% if current_user && current_user.id == @user.id %>
    <h3>Your Suggested Volunteer Events!</h3>
    <% @suggested_events.each do |event| %>
    <% if @user.events.include?(event) %>
    <% else %>
    <div class="col-xs-6" id="suggested-events">
    <h4><%= event.name %></h4>
    <%= button_to "Join This Event!!", event_path(event.id), method: :patch, remote: true %>
      <div class="join-alert-<%= event.id %>"></div>
      <p><%= event.description %></p>
      <p><%= event.formatted_start %> - <%= event.formatted_end %></p>
      <p>This event was suggested based on these skills: 
      <% @user.matching_skills(event).each_with_index do |skill, i| %>
    <% if i > 0 %>
      - <%= skill %>
    <% else %>
        <%= skill %>
    <% end %>
    
    <% end %>
    </p>
     </div>
    <% end %>
  <% end %>
 
    <h3>Your Suggested Volunteer Projects!</h3>

    <% @suggested_projects.each do |project| %>
    <h4><%= project.name %></h4>
    <p>This event was suggested based on your interests: <%= project.topic.name %></p>
    <% end %>
  <div>
    
  </div>
  <% end %>

</div><!-- ROW -->
