<h1><%= @user.name %>'s Profile</h1>
  <% if current_user.id == @user.id %>
    <%= button_to "Edit Your Profile", edit_user_path(@user.id), method: "get" %>
  <% end %>

<p>Currently contributing to <%= @user.events.count %> events.</p>
<div class="row">
  <div class="col-xs-6">
    <h4><%= @user.name %> Is Skilled In...</h4>
    <% if @user.skills %>
    <ul>
      <% @user.skills.each do |skill| %>
        <li><%= skill.name %></li>
        <% end %>
    </ul>
    <% end %>
  </div>
  <div class="col-xs-6">
    <h4><%= @user.name %> Cares About...</h4>
    <% if @user.topics %>
    <ul>
      <% @user.topics.each do |topic| %>
        <li><%= topic.name %></li>
        <% end %>
    </ul>
    <% end %>
  </div>
  
</div>