<h2 class="text-uppercase">There Are <mark><%= @projects.count %></mark> Active Projects!</h2>

<!-- <div class="row">
<ul class="list-unstyled">
<% @projects.each.with_index(1) do |project, i| %>
  <% if i % 2 == 0 %>
    <li class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-2 content-box-bordered mb10">
  <% else %>
    <li class="col-xs-10 col-xs-offset-1 col-sm-4 content-box-bordered mb10">
  <% end %>
<h4><%= link_to project.truncated_name, project_path(project.id) %></h4>
<p><%= project.neighborhood %> - <%= project.topic.name %></p>
<p><%= project.truncated_description %></p></li>
<% end %>
</ul>
</div><!-- /row -->



<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
  <table class="table table-hover">
      <thead>
          <tr>
              <th>Project Name</th>
              <th>Topic</th>
              <th>Neighborhood</th>
              <th>Description</th>
          </tr>
      </thead><!-- /table header -->  
      <tbody>
      <% @projects.each do |project| %>
          
          <tr>
              <td><%= link_to project.truncated_name, project_path(project.id) %></td>
              <td><%= link_to project.topic.name, project_path(project.id) %></td>
              <td><%= link_to project.neighborhood, project_path(project.id) %></td>
              <td><%= link_to project.truncated_description, project_path(project.id) %></td>
          </tr>
        
      <% end %>
      </tbody><!-- /table body -->  
  </table><!-- /hover table -->
  </div>
</div><!-- /row -->