<!-- Begin Title -->
          
          <div class="row mt40">
            <div class="col-xs-4 col-xs-offset-4 text-center mb10">
              <div class="heading"><h4>Our Projects</h4></div>
           <p><%= Project.count %> projects seeking volunteers like you!</p>
            </div>
          </div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
  <table class="table table-hover">
      <thead>
          <tr>
              <th>Project Name</th>
              <th>Topic</th>
              <th>Neighborhood</th>
              <th>Description</th>
          </tr>
      </thead><!-- /table header -->  
      <tbody>
      <% @projects.each do |project| %>
          
          <tr>
              <td><%= link_to project.truncated_name, project_path(project.id) %></td>
              <td><%= link_to project.topic.name, project_path(project.id) %></td>
              <td><%= link_to project.neighborhood, project_path(project.id) %></td>
              <td><%= link_to project.truncated_description, project_path(project.id) %></td>
          </tr>
        
      <% end %>
      </tbody><!-- /table body -->  
  </table><!-- /hover table -->
  </div>
</div><!-- /row -->
