<h2 class="text-uppercase">There Are <mark><%= @projects.count %></mark> Active Projects!</h2>
<div class="row">
<ul class="list-unstyled">
<% @projects.each do |project| %>
<li class="col-xs-4 col-xs-offset-1 content-box-bordered mb10"><h4><%= link_to project.name, project_path(project.id) %></h4>
    <div class="view-circle img-circle">
      <%= image_tag(project.user.photo.thumb, :class => "img-responsive") %>
    <!-- <img class="img-responsive" src="images/projects/thumbs/illustration3.jpg" alt="..."> -->
    </div>
  <h6>Coordinator: <%= project.user.name %></h6>
  <p><%= project.neighborhood %> - <%= project.topic.name %></p>
  <p><%= project.description %></p></li>
<% end %>
</ul>
</div><!-- /row -->
