<div class="row">
  <h1 class="col-xs-12"><%= @project.name %></h1>
  <h4 class="col-xs-12">This project has benefitted from <mark><%= @project.total_hours.to_i %></mark> total volunteer hours.</h4>
  <% if current_user && current_user.id == @project.user_id %>
    <p>You are the coordinator for this project</p>
  <%= button_to 'Edit this project', edit_project_path(@project.id),method: :get %> 
  <% elsif @project.user %>
    <p>The coordinator for this project is <%= @project.user.name %></p> 
  <% end %>
  <h4 class="col-xs-12"><mark>Upcoming Events</mark></h4>
  <ul class="list-unstyled">
  <% @project.events.each do |event| %>
    <div class="events-project-show">
    <li class="col-sm-3 col-sm-offset-1"><h4><%= link_to event.name, event_path(event.id) %></h4>
    <% if current_user && current_user.events.include?(event) %>
      <p>You're already signed up for this event!</p>
    <% elsif current_user && !current_user.events.include?(event) %>
      <div class="suggested-event-<%= event.id %>">
      <%= button_to "Sign me up!", event_path(event.id), method: :patch, remote: true, class: 'btn btn-rw btn-primary btn-xs'%>
      </div>
      <div class="join-event-<%= event.id %>"></div>
    <% else %>
      <p>Log in to join this event</p>
    <% end %>
    <% if current_user && current_user.id == @project.user_id %>
      <%= button_to("Delete this event", event_path(event.id), method: :delete, params: {project_id: @project.id}, class: 'btn btn-rw btn-primary btn-xs') %>
    <% end %>
    <p><%= event.description %></p>
    <p><%= event.formatted_start %> - <%= event.formatted_end %></p></li>
    <% if current_user %>
    <ul>
    <% event.users.each do |volunteer| %>
      <li><%= volunteer.name %></li>
      <% if current_user && current_user.id == @project.user_id %> 
        <%= button_to 'Remove this volunteer the event', "/events/#{event.id}/leave", method: :patch, remote: true %>
      <% end %><!-- /conditional --> 
    <% end %><!-- /volunteer block --> 
  <% end %><!-- /if logged in -->
    </div><!-- /event-project-show -->
  <% end %><!-- /event iteration -->
  </ul>
</div><!-- /row -->

<%# @project.topic.name %>