<div class="container">

  <!-- PROJECT INTRO -->
  <div class="row mt40">
    <div class="col-xs-7">
      <div class="heading mt30-xs">
        <h4><%= @project.name %></h4>
      </div>
      <p>
        <%= @project.description %>
      </p>
      <div class="ml20 mt20">
      <h5>Project at a glance:</h5>
        <ul class="list-arrow-2-color ml20">
          <li id="coordinator-email">The coordinator for this project is <%= link_to @project.user.name, user_path(@project.user_id) %>
          <% if current_user %>
            - <%= link_to "(email #{@project.user.name})", "/users/#{@project.user_id}/email-coordinator", action: 'email_coordinator', remote: true, data: {confirm: "Are you sure you want to email Project Coordinator #{@project.user.name}?"} %>
          <% end %>
          </li>
          <li>This project has utilized <mark><%= @project.total_hours.to_i %></mark> total volunteer hours</li>
          <li>This project has hosted <mark><%= @project.events.count %></mark> events</li>
          <li><mark><%= @project.total_users.to_i %></mark> volunteers have contributed to this project</li>
        </ul>
      </div><!-- /ml20 -->
    </div><!-- /col-sm-7 -->
    <div class="col-xs-5">
    <%= image_tag("brooklyn_photo.jpg", :class => "img-responsive") %>
    <p class="text-right"><small>Photo uploaded by Adam</small></p>
    </div><!-- /col-sm-5 -->
  </div><!-- /row -->

  <!-- UPCOMING EVENTS -->
  <div class="row mt20">
    <div class="col-xs-12">
      <div class="heading mt30-xs">
        <h4>Upcoming Events</h4>
      </div>
      <% @project.future_events.each do |event| %>
        <div class="col-xs-4">
          <h4 class="mt10"><%= link_to event.name, event_path(event.id) %></h4>
          <p><%= event.formatted_start %> - <%= event.formatted_end %></p>
          <% if current_user && current_user.events.include?(event) %>
            <%= button_to "Leave this event", "/events/#{event.id}/leave", method: :patch, remote: true, class: "btn btn-rw btn-primary btn-xs upcoming-event-#{event.id}" %>
          <% elsif current_user %>
            <%= button_to "Join This Event",  "/events/#{event.id}/join-event", method: :patch, remote: true, class: "btn btn-rw btn-primary btn-xs, suggested-event-#{event.id}"%>
          <% end %>
        </div>
      <% end %>
    </div><!-- /col-xs-12 -->
  </div>

   <!-- PROJECT COORDINATOR DASHBOARD -->
   <% if current_user && @project.user_id == current_user.id %>
  <div class="row mt40">
    <div class="col-xs-12">
      <div class="heading mt30-xs">
       
          <h4>Project Coordinator Dashboard</h4>
            <%= link_to 'Click here to add events or edit project name & description', edit_project_path(@project.id),method: :get %>
      
      </div>
          <div class="col-sm-6 mt20">
            <h4>Future Events</h4>
            <% @project.future_events.each do |event| %>

              <h5 class="ml20"><%= event.name %> <small><%= event.formatted_start %> <%= link_to "Edit this event", edit_event_path(event.id) %></small><small><%= link_to "Delete this event", event_path(event.id), method: :delete, data: {confirm: "Are you sure?"}, remote: true %></small></h5>
            <% end %>
          </div><!--/future events-->
          <div class="col-sm-6 mt20">
            <h4>Past Events</h4>
            <% @project.past_events.each do |event| %>
              <h5 class="ml20"><%= event.name %> <small><%= event.formatted_start %> <%= link_to "Edit this event", edit_event_path(event.id) %></small> </h5>
            <% end %>
          </div><!--/past events-->


      </div>
      <% else %>
      <hr class="mb40">
      <% end %>
    </div>
  </div>


</div><!-- /container -->


