<!DOCTYPE html>
<html>
<head>
  <title>VolunteerApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Volunteerly</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          <% if current_user != nil %>
            <li><%= link_to('Sign Out', destroy_user_session_path, method: 'delete') %><span class="sr-only"></span></a></li>
            <li><%= link_to('Your Dashboard', user_path(current_user.id)) %></li>
            <li><%= link_to('All Volunteers', users_path) %></li>
          <% else %>
            <li><%= link_to('Sign In', new_user_session_path) %><span class="sr-only"></span></a></li>
          <% end %>
            
            <li><%= link_to('All Projects', projects_path) %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

  <%= yield %>

    <footer class="footer">
      <div class="container">
        <!--=== Copyright ===-->
        <div class="row">
          <div class="col-sm-12 text-center">
            <p class="mb15">
              <span class="fa fa-twitter bordered-icon-dark bordered-icon-sm"></span>
              <span class="fa fa-facebook bordered-icon-dark bordered-icon-sm"></span>
              <span class="fa fa-instagram bordered-icon-dark bordered-icon-sm"></span>
            </p>
            <p class="copyright mb15">© 2015 Volunteerly. All rights reserved.  <b>Volunteerly was built by Adam Czerepinski, and Simone Hill, Joshua Baker.</b>.</p>
        </div><!-- /row -->
      </div><!-- /container -->
    </footer><!-- /footer -->
  </body>
</html>